<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<!-- 사용자 스크립트 추가 -->
<th:block layout:fragment="script">
    <script th:inline="javascript">
        $(document).ready(function(){
            $("searchBtn").on("click",function(e){
                e.preventDefault(); //검색버튼 클릭시 form 태그 전송을 막습니다.
                page(0);
            });
        });

        function page(page){
            var searchBy = $("#searchBy").val();
            var searchQuery = $("#searchQuery").val();

            location.href="/admin/reads/" + page + "?searchBy=" + searchBy
            + "&searchQuery=" + searchQuery;
        }
    </script>
</th:block>

<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
    <style>
        select{
            margin-right : 10px
        }
    </style>
</th:block>
<div layout:fragment="content">
    <form th:action="@{'/admin/reads/'+${reads.number}}" role="form" method="get" th:object="${reads}">
        <table class="table">
            <thead>
            <tr>
                <td>아이디</td>
                <td>제 목</td>
                <td>부제목</td>
                <td>지 역</td>
                <td>요 리</td>
                <td>등록자</td>
                <td>등록일</td>
            </tr>
            </thead>
            <tbody>
            <tr th:each="read, status : ${reads.getContent()}">
                <td th:text="${read.id}"></td>
                <td>
                    <a th:href="'/admin/read/'+${read.id}" th:text="${read.title}"></a>
                </td>
                <td th:text="${read.subtitle}"></td>
                <td th:text="${read.local}"></td>
                <td th:text="${read.type}"></td>
                <td th:text="${read.createdBy}"></td>
                <td th:text="${read.registerTime}"></td>
            </tr>
            </tbody>
        </table>
        <div th:with="start=${(reads.number/maxPage)*maxPage +1},
        end=(${(reads.totalPages == 0) ? 1 : (start + (maxPage-1) < reads.totalPages ? start + (maxPage - 1) : reads.totalPages)})">
            <ul class="pagination justify-content-center">
                <li class="page-item" th:classappend="${reads.first}?'disabled'">
                    <a th:onclick="'javascript:page('+${reads.number - 1} + ')'" aria-label='Previous' class="page-link">
                        <span aria-hidden="true"> < </span>
                    </a>
                </li>
                <li class="page-item" th:each="page: ${#numbers.sequence(start,end)}" th:classappend="${reads.number eq page-1}?'active':''">
                    <a th:onclick="'javascript:page('+${page -1} + ')'" th:inline="text" class="page-link">[[${page}]]</a>
                </li>
                <li class="page-item" th:classappend="${reads.last}?'disabled'">
                    <a th:onclick="'javascript:page(' + ${reads.number + 1} + ')'" aria-label="Next" class="page-link">
                        <span aria-hidden="true"> > </span>
                    </a>
                </li>
            </ul>
        </div>

        <div class="form-inline justify-content-center" th:object="${readSearchDto}">
            <select th:field="*{searchBy}" class="form-control" style="width:auto;">
                <option value="">전체</option>
                <option value="title">제목</option>
                <option value="local">지역</option>
                <option value="type">요리</option>
            </select>
            <input th:field="*{searchQuery}" type="text" class="form-control" placeholder="검색어를 입력해주세요">
            <button id="searchBtn" type="submit" class="btn btn-primary" style="margin-left:10px">검색</button>
        </div>
    </form>
</div>
</html>